<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frizzell.flores.polaroidxp">

    <!--Testing for live preview and GPS info-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Testing for live preview and GPS info-->
    <!--<uses-feature android:name="android.hardware.camera" />-->

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsPageActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="frizzell.flores.polaroidxp.MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="frizzell.flores.polaroidxp.MainActivity" />
        </activity>

        <activity
            android:name=".FullscreenImageActivity"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="frizzell.flores.polaroidxp.GalleryActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="frizzell.flores.polaroidxp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c673e6958b5999669bb07d5b8e84b5e8c87cd5e" />
    </application>

</manifest>