<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frizzell.flores.polaroidxp">

    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--<uses-feature android:name="android.hardware.camera" />-->

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Polaroid_XP"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings_Page"
            android:label="Settings Page"
            android:parentActivityName=".Polaroid_XP">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="frizzell.flores.polaroidxp.Polaroid_XP" />
        </activity>
        <activity
            android:name=".TestSettingsActivity"
            android:label="@string/title_activity_test_settings"
            android:parentActivityName=".Polaroid_XP">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="frizzell.flores.polaroidxp.Polaroid_XP" />
        </activity>
    </application>

</manifest>